<!doctype html>
<html>
<head>
    <title>Tetris</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/tetris';
            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            
            socket.on('connect', function() { 
            	socket.emit('connection_callback', {data: 'connected!'});
            });

            socket.on('connection_successful', function(msg) {
                $('#connected').append('<br>' + $('<div/>').text(msg.data).html());
            });

            socket.on('update_game_board', function(data) {
            	console.log(data);
            });

            socket.on("keypress", function(key) {
            	socket.emit('connection_callback', {data: 'connected!'});
            	console.log(key)
            });

            $(document).keydown(function(e) {
            	switch (event.key) {
				    case "ArrowDown":
				    case "ArrowUp":
				    case "ArrowLeft":
				    case "ArrowRight":
				    socket.emit("keypress", {key: event.key});
				    break;
			    	default:
					return;
				}
	    	});
        });
    </script>
</head>
<body>
    <h1>Tetris</h1>
    <p id="connected"></p>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
</body>
</html>